# Django
*.pyc
__pycache__/
db.sqlite3

# Environment
.env
venv/
ENV/
*.log

# IDE
.vscode/
.idea/

#Terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform/

#aws
ec2-key-pair.pem